# server
/server/node_modules
/server/build
/server/.env
/server/models/seed*.ts
/server/models/seed*2.ts
/server/models/*.json
/server/models/*.js

# client
/client/node_modules
/client/build
/client/.env